---
title: プロジェクト | yh.contact
layout: layouts/base.njk
scripts:
  - /js/font_loader.js
  - https://code.iconify.design/3/3.1.1/iconify.min.js
---
      <section class="grid">
        <article class="panel">
          <h2>Projects</h2>
          <p>あとで書く</p>
        </article>
        <hr>
      </section>

      {% include "partials/site-footer.njk" %}
